    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About SG</h2>
            </div>

            <div class="col-lg-6">
 <p> I am a PhD candidate at Case Western Reserve University in the Department of Chemical Engineering where I am affiliated with the Sankaran Group.  My PhD advisor is <a href="http://engineering.case.edu/profiles/rxs192">Professor R. Mohan Sankaran</a>.</p>

		<p> My main research focus is in the field of flexible and printable electronics. It spans from developing the chemistry and engineer the hardware technologies enabling microplasma patterned direct-write on flexible thin films and develop precursors for inkjet printing of metallic nanoparticles. For more information, go to <a class="page-scroll" href="#research">Research</a>.</p>

<p>My research has been nominated for top graduate student awards at the American Vacuum Society (AVS) and Electrostatics Society of America (ESA). For more information, go to <a class="page-scroll" href="#publications">Publications</a>.</p>

<p> Previously, I have obtained a M.Tech degree in Materials Science and Engineering from the Indian Institute of Technology, Kharagpur and a M.S. degree in Physics from the Bose Institute in Kolkata. For more information, go to <a class="page-scroll" href="#cv">CV</a>.</p>

	    </div>

            <div class="col-lg-6">

<img src="img/plasma_reduction.png" class="header_logo" alt="plasma_redu"></img> 

<br></br>
<br></br>

<p> I enjoy visualizing and expressing my work in the form of 3D models and process flow schematics. My 3D images are rendered using various visualization softwares including, but not limited to Autodesk 3Ds Max, Adobe Photoshop, ChemDraw and SolidWorks. Some of my renditions have been featured on dustflap of  Nature Communications, the Journal of Vaccum Science and Technology-A, and the cover of Journal of Physics D. For more examples, please go to <a class="page-scroll" href="#images">Images</a>.</p>

            </div>
        </div>
    </section>
