    <!-- Contact Section -->
    <section id="connect" class="container content-section connect-style">
        <div class="row">
            <div class="col-lg-6">

                <h2>Direct Connect</h2>
<!--<p><a href="mailto:souvik.ghosh@case.edu" class="btn btn-default btn-lg">
 <i class="fa fa-envelope-o fa-fw"></i> <span class="network-name">Email</span></a></p>-->
<p> <a class="btn btn-default btn-lg"> <i class="fa fa-envelope-o fa-fw"></i> <span class="network-name">Email: souvik dot ghosh at case dot edu</span></a></p>


<br></br>
<br></br>

                <h2>Working Group</h2>
    	<p><a href="http://microplasma.case.edu" class="btn btn-default btn-lg">
  <i class="fa fa-cogs fa-fw"></i> <span class="network-name">Sankaran Laboratory</span></a></p>

<!--                 <h2>Academic Material</h2> -->
<!-- 	     <p><a href="https://scholar.google.com/citations?user=r4BRrkIAAAAJ&hl=en&oi=sra" class="btn btn-default btn-lg"> -->
<!--              <i class="fa fa-google fa-fw"></i> <span class="network-name">Google Scholar</span></a></p> -->
	    </div>

            <div class="col-lg-6">
                <h2>Academic Networking</h2>
                        <p><a href="http://case.academia.edu/SouvikGhosh" class="btn btn-default btn-lg">
                           <i class="fa fa-institution fa-fw"></i> <span class="network-name">Academia.Edu</span></a></p><br></br>

	        	<p><a href="https://www.linkedin.com/pub/souvik-ghosh/20/769/731" class="btn btn-default btn-lg">
                           <i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a></p><br></br>
	        	<p><a href="http://www.researchgate.net/profile/Souvik_Ghosh4" class="btn btn-default btn-lg">
                           <i class="fa fa-flask fa-fw"></i> <span class="network-name">ResearchGate</span></a></p>

	    </div>


<!--             <div class="col-lg-12"> -->
<!-- <br></br> -->
<!-- <br></br> -->
<!--                 <h2>Working Group</h2> -->
<!--     	<p><a href="http://microplasma.case.edu" class="btn btn-default btn-lg"> -->
<!--   <i class="fa fa-cogs fa-fw"></i> <span class="network-name">Sankaran Laboratory</span></a></p> -->


<!-- 	    </div> -->

        </div>
    </section>
