<!-- CV Section -->
    <section id="cv" class="container content-section cv-style">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
<h2>Curriculum Vitae</h2>
            </div>

   <div class="col-lg-5">
                <h2>Education</h2>
<h4>Doctor of Philosophy (Ph.D) in Chemical Engineering</h4>
<p><i>Case Western Reserve University, School of Engineering, Cleveland OH</i></p>
<br></br>
<p>Specializiation in atmospheric pressure microplasma.</p>
<p>Thesis Entitled: <i>Atmospheric Pressure Microplasma Assisted Synthesis of Flexible Electronics and Nanomaterials</i></p>

<hr></hr>

<h4>Master of Technology (M.Tech) in Materials Science and Engineering</h4>
<p><i>Indian Institute of Technology, Kharagpur, India</i></p>
<br></br>
<p>Research on synthesis of one and two dimensional carbon nanomaterials</p>
<p>Thesis Entitled: <i>Growth of Carbon Nanostructures by Chemical Vapor Deposition</i></p>

<hr></hr>

<h4>Master of Science (M.S.) in Physics</h4>
<p><i>Bose Institute and St. Xavier's College, Kolkata, India</i></p>
<br></br>
<p>Research on magnetohydrodynamics of the solar corona</p>
<p>Thesis Entitled: <i>Analysis of Magneto-Atmospheric Waves in a Linear Plasma</i></p>

<hr></hr>

<h4>Bachelor of Science (B.S.) in Physics with Honors</h4>
<p>St. Xavier's College, Kolkata, India</p>

<hr></hr>
<h2><a href="img/souvik_cv.pdf">Download Full CV</a></h2>
   </div>

   <div class="col-sm-1">
   </div>

  <div class="col-lg-6">
                <h2>Experience</h2>
<h4>Graduate Research Assistant</h4>
<p><i>PI: Professor R. Mohan Sankaran</i></p>
<p><i> Department of Chemical and Biomolecular Engineering, Case Western School of Engineering, Cleveland OH</i></p>
<br></br>
<p>National Science Foundation funded position [Scalable Nano-Manufacturing Grant (SNM)]. Research involves research on large scale nanofabrication of metallic electrodes on flexible polymer substrates using an atmospheric pressure microplasma as a tool.</p>

<hr></hr>

<h4>Collaboration with EP Technologies LLC & Sankaran Lab</h4>
<p><i>PI: Professor Mohan Sankaran & Dr. Daphne Pappas</i></p>
<p><i> Department of Chemical and Biomolecular Engineering, Case Western School of Engineering, Cleveland OH & EP Technologies LLC, Akron OH</i></p>
<br></br>
<p>In addition to NSF funding, I was also funded by EP Technologies LLC. for a period of 6 months during 2013. This was a pilot project aimed towards fundamental understanding of the difference in anti-bacterial effects between silver nanoparticles and that of silver ions.</p>

<hr></hr>

<h4>Research Assistant</h4>
<p><i>PI: Professor Chako Jacob</i></p>
<p><i>Materials Science Center, Indian Institute of Technology, Kharagpur, India</i></p>
<p>Research involved using an atmospheric pressure thermal chemical vapor deposition system for synthesizing carbon nanostructures on non-metallic catalysts.</p>

<hr></hr>

<h4>Research Assistant</h4>
<p><i>PI: Professor Parthasarathi Joarder</i></p>
<p><i>Center for Astroparticle Physics and Space Science, Bose Institute, Kolkata, India</i></p>
<p>Research involved first principles simulation of behavior of high temperature plasma in the solar corona under assumption of quasi-equillibrium magnetohydrodynamic conditions.</p>
  </div>


 <div class="col-lg-12">
<br></br>
<br></br>
<br></br>
                <h2>Skills</h2>
<h4>Computational Skills</h4>
<p><b>Languages:</b> C, C++, C#, Fortran 90, Visual Basic</p>
<p><b>Software:</b> Origin, LabView, Matlab, Fluent</p>
<p><b>Web Design:</b> HTML, CSS, VB Script</p>
<p><b>Graphics Editors:</b> Autodesk 3Ds Max, Autocad, Solidworks, Adobe Creative Suite, ChemDraw</p>
<br></br>
<h4>Hardware Development</h4>
<p><b>Custom hardware development</b> with open-source platforms like Arduino and Raspberry Pi</p>
</div>

  <div class="col-lg-12">
<br></br>
<br></br>
                <h2>Awards & Recognition</h2>
<p><a href="http://sciengcafe.com/2016/02/souvik-ghosh-interview/">Scientist of the Week Interview</a> for "The Science and Engineering Cafe": February 2016</p>
<br></br>
<p>NSF Travel Award for Gordon Research Conference: 2016</p>
<br></br>
<p>Coburn and Winters Award Nominee PSTD Division, AVS 63rd Symposia: 2016</p>
<br></br>
<p>One of the "Most Downloaded" of 2015 and "Most Read Article" for Two Consecutive Months in the Journal of Vaccum Science and Technology-A: <i>Generation of a direct-current, atmospheric-pressure microplasma at the surface of a liquid water microjet for continuous plasma-liquid processing</i>: Published in May 2015</p>
<br></br>
<p>Featured Article & Journal Cover of Journal of Physics D: Applied Physics,</p>
<p><i>Special Issue: Plasma synthesis of nanoparticles and nanocrystals</i>: Published in 2015</p>
<br></br>
<p>Coburn and Winters Award Nominee PSTD Division, AVS 62nd Symposia: 2015</p>
<br></br>
<p>AVS PSTD travel award for AVS 60th, 61st, and 62nd symposia: Awarded 2013, 2014, 2015</p>
<br></br>
<p>Electrostatics Society of America conference, 2nd Best Student Presenter: Awarded 2014</p>
<br></br>
<p>Electrostatics Society of America conference, Best Student Presenter: Awarded 2013</p>
<br></br>
<p>AVS Ohio chapter meeting, University of Dayton, Best Student Poster: Awarded 2013</p>
            </div>
        </div>
    </section>
