    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
          <div class="header_logo">
           <img src="img/souvik_sm.png" alt="SG Bio Photo"></img> 
           <h1 class="brand-heading">| SG</h1>
	  </div>
          <div class="col-md-8 col-md-offset-2">
<p class="intro-text">This is Souvik Ghosh's academic portfolio.</p>
               <p class="intro-text">I go either by <b>Souvik</b> (pronounced "Show-Vick") or <b>SG</b>.</p>
<p class="intro-text">Take your pick.</p>

                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
