    <section id="research" class="content-section text-center">
        <div class="research-section">
            <div class="container">
                <div class="col-lg-12">
                
<h2>Non-Lithographic Surface Modification</h2>

<p>Plasmas are an essential component used for traditional top-down fabrication of integrated circuit (IC) manufacturing for etching and deposition of thin films.</p>

<p>Microplasmas are a different class of plasmas that can form at atmospheric-pressure and are a localized source of electrons, ions, and radicals. They are formed under non-equillibrium conditions and can be used to selectively modify thin films.</p>

<img src="img/MARK2.png" class="textwrap_left" alt="mark2_setup"></img> 

<p>My work reflects the use of an atmospheric-pressure DC microplasma as a tool to direct-write patterns of metalic features <i>in situ</i> at the surface of a polymer thin film. We have been able to successfully demostrate a high degree of conductivity of these structures. Further, we discovered and reported for the first time electrodiffusion as a fundamental mechanism for the formation of these meatallic features at the surface of the polymers.</p>

<p>My current work involves analyzing the degree of flexibility and stretchability of these films and engineering methodologies to improve them.</p>

 <p>Additionally, efforts are also being put towards reducing the feature sizes.</p> 

		</div>

<div class="col-lg-12">
<br></br>
<br></br>

<h2>Plasma-liquid Electrochemistry</h2>

<p> Non-equillibrium plasmas have previously been formed at the surface of ionic liquids. As an alternative approach to fabricate metallic structures on flexible thin films with high throughput, we developed a continuous nanoparticle synthesis apparatus using an atmospheric-pressure microplasma as a tool.</p>

<img src="img/flow.png" class="textwrap_right" alt="flow_setup"></img> 

<p> Unlike a conventional batch system, the ionic electrolyte is flown between the microplasma cathode and a platinum anode, both the electronics of which are isolated from the rest of the system. We have been successful in using this system to manufacture high density silver nanoparticles in water at the rate of 10 - 20 mL/min.</p>

<p>I am also working on developing a new chemistry to synthesize other noble, alloy or semi-conducting nanoparticles using this setup.</p>
		</div>

<div class="col-lg-12">
<br></br>
<br></br>
<h2>Other Research Interests</h2>
<center>
<p>I am interested in the following areas of research:</p>
<p><i class="fa fa-chevron-right fa-fw"></i> Printable & stretchable multi-functional materials</p>
<p><i class="fa fa-chevron-right fa-fw"></i> Large-scale synthesis of nanomaterials</p>
<p><i class="fa fa-chevron-right fa-fw"></i> Fabrication of organic electronics</p>

<!--<p>If you would like to collaborate in these areas, please <a class="page-scroll" href="#connect">contact me</a>.</p>-->
</center>


                </div>
            </div>
        </div>
    </section>
